@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: local('Futura PT'), url('/fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: local('Futura PT'), url('/fonts/FuturaPT-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: local('Futura PT'), url('/fonts/FuturaPT-Heavy.woff') format('woff');
}

html * {
  font-family: 'Futura PT', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 600px) {
  .JoL-player-container {
    height: 200px;
  }
}